.git
.github
.vscode
.idea

node_modules
**/node_modules

logs
logs/**
.cache
cache
artifacts
temp

.env
*.env

sentra-emo/.venv
sentra-emo/__pycache__
sentra-emo/output
sentra-emo/models

data
**/data
userData

Thumbs.db
.DS_Store
