# 是否启用插件
# type: boolean
# options: true | false
PLUGIN_ENABLED=true

# 插件超时时间（毫秒）
# type: number
# range: 10000-120000
PLUGIN_TIMEOUT_MS=60000

# WebSocket SDK 通讯地址
# type: string
WS_SDK_URL=ws://localhost:6702

# ws 通讯超时时间（毫秒）
# type: number
# range: 1000-120000
WS_SDK_TIMEOUT_MS=60000
